<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>solution page</title>
</head>
<body class = "container-md">
    <h1 class = "text-center">Solutions</h1>
    <h4>Total Questions : <%= totalquestions %> </h4>
    <h4>Answered Questions : <%= correct + incorrect %> </h4>
    <h4>Correct Questions : <%= correct %> </h4>
    <h4>Incorrect Questions : <%= incorrect %> </h4>
    <h4>Score : <%= score %></h4>
    <h5>Questions : </h5>
    <div class = "d-flex no-wrap pt-2 overflow-auto" id="buttonsblock">
        <% for(let i = 0;i<totalquestions;i++) { %>
            <button class="questionbutton btn btn-secondary mx-2
            <% if(!result[`answer${i}`] ) { %>
                btn-secondary
            <% } else { if(result[`answer${i}`] == "notanswered") { %>
                btn-secondary 
            <% } else if(result[`answer${i}`] == key[`answer${i}`]) { %>
                btn-success 
            <% } else if(result[`answer${i}`] != key[`answer${i}`]) { %>
                btn-danger
            <% }} %> " id="<%= i %>"><%= i+1 %> </button>
            <% } %> 
    </div>
    <div class = "m-2">
        <div class = "questionblock" id = "question0">
            <h4>Question : 1</h4>
            <%= data[0].statement %><br>
            <img src="<%= data[0].imgsrc %>" alt="">
            <ol type = "A">
                <li> <%= data[0].option1 %></li>
                <li> <%= data[0].option2 %></li>
                <li> <%= data[0].option3 %></li>
                <li> <%= data[0].option4 %></li>
            </ol>
            <p><b>Your answer :</b> <% if(result[`answer${0}`]) { %><%= result[`answer${0}`] %>
            <% } else { %>not visited<% } %><br>
            <b>Correct Answer :</b> <%= key[`answer${0}`] %> </p>
        </div>
        <% for(let i = 1;i<totalquestions;i++) { %>
            <div class = "questionblock" style = "display : none" id="question<%= i %>">
            <h4>Question : <%= i+1 %></h4>
            <%= data[i].statement %><br>
            <img src="<%= data[i].imgsrc %>" alt="">
            <ol type = "A">
                <li> <%= data[i].option1 %></li>
                <li> <%= data[i].option2 %></li>
                <li> <%= data[i].option3 %></li>
                <li> <%= data[i].option4 %></li>
            </ol>
            <p><b>Your answer :</b> <% if(result[`answer${i}`]) { %><%= result[`answer${i}`] %>
            <% } else { %>not visited<% } %><br>
            <b>Correct Answer :</b> <%= key[`answer${i}`] %> </p>
            </div>
        <% } %> 
    </div>
    <script>
        var buttonsblock = document.getElementById('buttonsblock') ;
        let presentquestion = document.getElementById('question0') ;
        buttonsblock.addEventListener('click', (e) => {
            if(e.target.id != 'buttonsblock') {
                    presentquestion.style.display = "none" ;
                    var a = document.getElementById(`question${e.target.id}`) ;
                    a.style.display = "block" ;
                    presentquestion = a ;
            }
        })
    </script>
</body>
</html>   